<template>
    <transition name="slide">
        <div class="popup event-popup" v-show="popupVisible">
            <div class="event-popup__inner">
                <span
                    @click="$emit('close-popup')"
                    class="material-symbols-outlined absolute top-5 right-5 flex cursor-pointer items-center justify-center rounded-full p-2 transition hover:bg-light-purple"
                >
                    close
                </span>

                <h2 class="mb-14">Add your event</h2>

                <div class="space-y-10">
                    <input
                        type="text"
                        placeholder="Add title and time"
                        v-model="eventTitle"
                        ref="titleInput"
                    />

                    <div class="picker-container">
                        <div class="flex items-center">
                            <input
                                type="text"
                                placeholder="Pick time"
                                ref="timePicker"
                                class="w-[80px] border-0 font-bold"
                            />

                            <span
                                class="material-symbols-outlined ml-2 mb-0.5 text-[18px] text-zinc-400"
                            >
                                schedule
                            </span>
                        </div>

                        <div class="picker-dropdown"></div>
                    </div>

                    <div class="location-item">
                        <input
                            type="text"
                            placeholder="Location"
                            class="location-input"
                            v-model="locationValue"
                            @focus="toggleLocations(true)"
                            @focusout="
                                dropdownHovered ? toggleLocations(true) : toggleLocations(false)
                            "
                        />

                        <div
                            class="locations-list relative z-10 divide-y divide-gray-100 bg-white"
                            :class="{ hidden: !dropdownShown }"
                        >
                            <ul
                                @mouseover="dropdownHovered = true"
                                @mouseout="dropdownHovered = false"
                                class="absolute top-2 w-full overflow-hidden rounded-lg text-[18px] text-gray-700 shadow dark:bg-gray-700 dark:text-gray-200"
                            >
                                <li
                                    class="locations-list__item flex cursor-pointer items-center justify-between p-2 transition hover:bg-blue-900"
                                    v-for="(item, i) in filteredLocations"
                                    :key="i"
                                    @click="pickLocation(item)"
                                >
                                    <p>{{ item }}</p>

                                    <span class="material-symbols-outlined text-[14px] opacity-90">
                                        location_on
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <textarea
                        name="description"
                        id="description"
                        placeholder="Add description"
                        v-model="evenDesc"
                    ></textarea>

                    <div class="color-picker">
                        <div class="mb-4 flex items-center">
                            <label class="color-picker__title block text-[18px] font-bold"
                                >Pick color</label
                            >

                            <span class="material-symbols-outlined ml-2 text-[18px] text-zinc-400">
                                colorize
                            </span>
                        </div>

                        <div class="flex space-x-4">
                            <div
                                v-for="(color, i) in taskColors"
                                :key="i"
                                class="color-picker__item"
                                :class="color"
                                ref="colorItem"
                                @click="pickColor(color, $event)"
                            ></div>
                        </div>
                    </div>

                    <button type="button" class="btn ml-auto" @click="addEvent(selectId)">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import Picker from 'pickerjs';
    import { loadLocations } from '../api/locations.service.js';

    export default {
        name: 'DayEventPopup',

        props: {
            popupVisible: {
                type: Boolean,
                default: true,
            },
            selectId: {
                type: Number,
                required: true,
            },
        },

        emits: {
            'add-event': (index, dayEvent) =>
                typeof index === 'number' && typeof dayEvent === 'object',
        },

        data() {
            return {
                eventTitle: '',
                evenDesc: '',

                timePicker: null,
                scheduleTime: '',

                locations: [],
                locationValue: '',

                dropdownShown: false,
                dropdownHovered: false,

                flag: true,

                activeColor: '',
                taskColors: [
                    'bg-amber-500',
                    'bg-rose-600',
                    'bg-green-800',
                    'bg-blue-600',
                    'bg-violet-600',
                ],
            };
        },

        mounted() {
            // Time picker
            this.timePicker = new Picker(this.$refs.timePicker, {
                format: 'HH:mm',
                inline: true,
                controls: true,
                container: '.picker-dropdown',
            });

            loadLocations().then((locations) => {
                const countries = locations.data.map((location) => location.country);
                const cities = locations.data.map((location) => location.cities).flat(Infinity);

                this.locations = countries.concat(cities);
            });
        },

        computed: {
            filteredLocations() {
                return this.locationValue
                    ? this.locations
                          .filter((location) => {
                              return location
                                  .toLowerCase()
                                  .includes(this.locationValue.toLowerCase());
                          })
                          .splice(0, 5)
                    : [...this.locations].splice(0, 5);
            },
        },

        methods: {
            toggleLocations(bool) {
                this.dropdownShown = bool;
            },

            pickLocation(item) {
                this.locationValue = item;
                this.toggleLocations(false);
            },

            pickColor(color, event) {
                this.activeColor = color;

                this.$refs.colorItem.forEach((item) => item.classList.remove('picked'));
                event.target.classList.add('picked');
            },

            addEvent(index) {
                const { hour, minute } = this.timePicker.data;
                const addZero = (num) => (num < 10 ? `0${num}` : num);

                const errorMessage = document.createElement('label');
                errorMessage.classList.add('text-red-500', 'text-[16px]');
                errorMessage.innerText = 'Add name to your task';

                this.scheduleTime = `${addZero(hour.current)}:${addZero(minute.current)}`;

                if (this.eventTitle) {
                    const dayEvent = {
                        title: this.eventTitle,
                        time: this.scheduleTime,
                        location: this.locationValue,
                        desc: this.evenDesc,
                        color: this.activeColor,
                        id: index,
                    };

                    this.$emit('add-event', index, dayEvent);
                    this.$emit('close-popup');

                    this.eventTitle = '';
                    this.locationValue = '';
                    this.evenDesc = '';
                    this.activeColor = '';
                } else {
                    this.$refs.titleInput.classList.add('border-b-red-500');

                    if (this.flag) {
                        this.$refs.titleInput.after(errorMessage);
                        this.flag = false;
                    }
                }
            },
        },
    };
</script>
