<template>
    <div
        v-for="(dayObj, index) in monthArr"
        :key="dayObj.id"
        class="calendar-body__day"
        @click="showEventPopup(index, $event)"
    >
        <label class="calendar-body__day-title">{{ dayObj.date }}</label>

        <div class="space-y-4">
            <div
                class="calendar-body__day-event"
                v-for="(schedule, i) in dayObj.scheduleArr"
                :key="schedule.id"
                :class="schedule.color"
                @click.stop="showInfo(index, i, $event)"
            >
                {{ schedule.title }}
            </div>
        </div>
    </div>

    <day-event-popup
        ref="eventPopup"
        :popup-visible="popupVisible"
        :select-id="selectId"
        @add-event="addTasks"
        @close-popup="popupVisible = false"
    >
    </day-event-popup>

    <day-item-info
        ref="infoPopup"
        :task-object="taskObject"
        :info-visible="infoVisible"
    ></day-item-info>
</template>

<script>
    import DayItemInfo from './DayInfoPopup.vue';
    import DayEventPopup from './DayEventPopup.vue';
    export default {
        name: 'DayItem',

        components: { DayItemInfo, DayEventPopup },

        props: {
            monthArr: {
                type: Array,
                required: true,
            },
        },

        emits: {
            'add-event': (index, dayEvent) =>
                typeof index === 'number' && typeof dayEvent === 'object',
        },

        data() {
            return {
                popupVisible: false,
                selectId: 0,
                dayEvents: [],
                taskObject: {},
                infoVisible: false,
            };
        },

        methods: {
            showPopup(popupDOM, event) {
                const popup = popupDOM;
                const targetItem = event.target;
                const popupWidth = window.getComputedStyle(popup).maxWidth.match('\\d+')[0];

                let topPosition = targetItem.offsetTop;
                let leftPosition = targetItem.offsetLeft + targetItem.clientWidth;
                let rightPosition = targetItem.offsetLeft - popupWidth;

                let rightPositionOfItem =
                    window.innerWidth - targetItem.getBoundingClientRect().right;

                popup.style.top = `${topPosition}px`;

                if (popupWidth > rightPositionOfItem) {
                    popup.style.left = `${rightPosition}px`;
                } else {
                    popup.style.left = `${leftPosition}px`;
                }
            },

            // Methods for event popup
            showEventPopup(index, event) {
                this.selectId = index;

                this.infoVisible = false;
                this.popupVisible = true;

                this.showPopup(this.$refs.eventPopup.$el, event);
            },

            // Methods for info popup
            showInfo(date, index, event) {
                this.popupVisible = false;
                this.infoVisible = true;

                this.showPopup(this.$refs.infoPopup.$el, event);

                this.taskObject = this.monthArr[date].scheduleArr[index];
            },

            addTasks(index, dayEvent) {
                this.$emit('add-event', index, dayEvent);
            },
        },
    };
</script>
