<template>
    <transition name="slide">
        <div v-show="infoVisible" class="popup info-popup">
            <div class="popup__inner space-y-10">
                <div class="flex items-center">
                    <div
                        class="color-picker__item mr-2 cursor-auto"
                        :class="taskObject.color"
                    ></div>
                    <h2>{{ taskObject.title }}</h2>
                </div>

                <p class="info-popup__time">{{ taskObject.time }}</p>

                <p v-if="taskObject.location" class="info-popup__location">
                    {{ taskObject.location }}
                </p>

                <p v-if="taskObject.desc" class="info-popup__desc">
                    {{ taskObject.desc }}
                </p>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'DayItemInfo',

        props: {
            taskObject: {
                type: Object,
                required: true,
            },
            infoVisible: {
                type: Boolean,
                default: true,
            },
        },
    };
</script>
