<template>
    <section class="calendar py-[40px]">
        <div class="container">
            <div class="calendar-header flex items-center justify-between pb-[25px]">
                <h1 class="calendar-header__title">{{ currentMonth() }}</h1>

                <span class="calendar-header__year">
                    {{ new Date().getFullYear() }}
                </span>
            </div>

            <div class="calendar-body relative">
                <div class="calendar-body__week">
                    <span class="calendar-body__week-title"> Mon </span>

                    <span class="calendar-body__week-title"> Tue </span>

                    <span class="calendar-body__week-title"> Wed </span>

                    <span class="calendar-body__week-title"> Thu </span>

                    <span class="calendar-body__week-title"> Fri </span>

                    <span class="calendar-body__week-title"> Sat </span>

                    <span class="calendar-body__week-title"> Sun </span>
                </div>

                <div class="calendar-body__inner">
                    <div v-for="i in dayOfTheWeek" :key="i" class="calendar-body__day-empty"></div>

                    <day-item :month-arr="monthArr" @add-event="addEvent"></day-item>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import DayItem from './components/DayItem.vue';
    export default {
        components: { DayItem },

        data() {
            return {
                monthArr: [],

                daysInMonth: new Date(
                    new Date().getFullYear(),
                    new Date().getMonth() + 1,
                    0
                ).getDate(),

                dayOfTheWeek:
                    new Date(new Date().getFullYear(), new Date().getMonth(), 1).getDay() - 1,

                monthNames: [
                    'January',
                    'February',
                    'March',
                    'April',
                    'May',
                    'June',
                    'July',
                    'August',
                    'September',
                    'October',
                    'November',
                    'December',
                ],

                dayNames: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            };
        },

        created() {
            for (let i = 0; i < this.daysInMonth; i++) {
                this.monthArr.push({
                    id: i,
                    date: i + 1,
                    day: this.dayNames[(i + this.dayOfTheWeek) % this.dayNames.length],
                    month: this.monthNames[new Date().getMonth()],
                    scheduleArr: [],
                });
            }
        },

        methods: {
            currentMonth() {
                return this.monthNames[new Date().getMonth()];
            },

            addEvent(index, dayEvent) {
                this.monthArr[index].scheduleArr.push(dayEvent);
            },
        },
    };
</script>
