body {
    font-family: var(--font-main);
    overflow-x: hidden;
    color: var(--white);
    background: var(--dark);
    font-size: 20px;
}

.container {
    max-width: 1760px;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 100%;
}


h1 {
    font-size: 56px;
}

h2 {
    font-size: 30px;
}

input,
textarea {
    background: transparent;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(248, 247, 250, 0.64);
    width: 100%;
    resize: none;
    transition: 0.25s ease;

    &::placeholder {
        color: var(--white);
        font-size: 18px;
        opacity: 0.4;
    }

    &:focus {
        border-color: mediumpurple;
    }
}

textarea {
    min-height: 110px;
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.3s ease;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translateX(-20px);
}

.btn {
    display: block;
    width: fit-content;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    background: mediumpurple;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    min-width: 160px;
    transition: 0.3s ease;

    &:hover {
        box-shadow: 0 0 10px rgb(147 112 219 / 75%);
    }
}

.calendar-body__week-title {
    font-size: 24px;
    color: rgba(248, 247, 250, 0.64);
    padding-bottom: 8px;
}

.calendar-body__inner,
.calendar-body__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: end;
    grid-auto-rows: 1fr;
}

.calendar-body {
    position: relative;
}

.calendar-body__day,
.calendar-body__day-empty {
    min-height: 261px;
    width: 100%;
    max-width: 250px;
    padding: 8px;
    border: 1px solid #3A3943;
    transition: 0.3s ease;
    cursor: pointer;

    label {
        display: block;
        text-align: right;
        margin-bottom: 10px;
        pointer-events: none;
    }
}

.calendar-body__day-empty {
    background: rgb(0 0 0 / 15%);
}

.calendar-body__day {
    &:hover {
        background: rgb(58 57 67 / 25%);
    }
}

.calendar-body__day-event {
    font-size: 20px;
    padding: 5px 16px;
    background: rgba(18, 153, 230, 0.29);
    border-radius: 21px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        opacity: 0.7;
    }
}

.calendar-header__year {
    font-weight: 700;
    line-height: 100%;
    font-size: 64px;
    color: rgba(221, 224, 255, 0.12);
}

// Popup
.popup {
    position: absolute;
    max-width: 448px;
    width: 100%;
    padding: 30px 30px 85px;
    transition: 0.25s ease;
    box-shadow: 0 0 5px rgb(147 112 219 / 84%);
    border-radius: 24px;
    background: #1e1828;
    z-index: 100;
    overflow: hidden;

    .btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .picker-container {
        input::placeholder {
            opacity: 1;
        }
    }

    // Time picker
    .picker {
        background: transparent;
        max-width: 125px;

        &-dialog {
            background: transparent;
            padding: 5px 0;
            display: flex;
            align-items: center;
            max-height: 75px;
            position: relative;
            overflow: hidden;
            border-radius: 20px;

            --border: 3px solid var(--white)
        }

        &-list {
            margin: 0;
        }

        &-item {
            font-weight: 700;
            color: var(--white);
            opacity: 0;
        }

        .picker-picked {
            opacity: 1;
        }

        .picker-cell, .picker-cell__body {
            &:before, &:after {
                display: none;
            }
        }

        .picker-cell {
            position: static;
        }

        &-cell__control {
            height: 20px;
            position: absolute;
            width: 61px;

            &--prev {
                top: 0;

                &:before {
                    top: 60%;
                }
            }

            &--next {
                bottom: 0;

                &:before {
                    top: 40%;
                }
            }

            &:before {
                color: var(--white);
                width: 7px;
                height: 7px;
            }

            &:hover {
                background: rgb(255 255 255 / 5%);
                .picker-cell__control:before {
                    color: var(--purple);
                }
            }
        }
    }
}

.color-picker__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s ease;

    border: 1px solid transparent;

    &:not(.info-popup .color-picker__item):hover {
        border-color: var(--white);
    }

    &.picked {
        border-color: var(--white);
    }
}

